@import "../../../styles/settings.scss";

.root{
  padding: 10px;

  .row {
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      .postDetails .postDetailsHeader {
        color: $blog-postDetails-color-hoover;
      }
      .postDetails .btn {
        background-color: $blog-postDetails-color-hoover;
        border: none;
      }
    }

    .imgs {
      position: relative;
      background: {
        color: $blog-details-background-color;
        size: cover;
        position: center;
      }

      img {
        width: 100%;
      }

      .details {
        padding: 15px 20px;
        display: flex;
        background-color: $blog-details-background-color;
        font-size: 14px;
        position: absolute;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        bottom: 0;

        & > * {
          flex: 1 1 auto;
        }

        .date {
          text-align: left;
          color: $blog-icon-color;
        }

        .comments {
          text-align: right;
          color: $blog-icon-color;
        }
      }
    }

    .postDetails {
      padding: 25px;

      .postDetailsHeader {
        color: $blog-postDetails-color;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        color: $blog-postDetails-color;
        text-align: justify;
      }

    .icon {
      color: $blog-postDetails-color;
      font-size: 16px;
    }
    .btn {
      position: relative;
      left:30%;
      text-align:center;
      background-color: $blog-postDetails-background-color;
      color:  $blog-postDetails-btn-color;
      text-transform: uppercase;
      font-weight: bold;
      padding: 12px 18px;
      text-decoration: none;
      }
    }
  }
}
