@import "../../../styles/settings.scss";

.root{
  padding: 10px;
  ;
  .row {
    margin-bottom: 2rem;
    display: block;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      .post-info .blog-header {
        color: orange;
      }
      .post-info .btn-main {
        background-color: red;
      }
    }

    .imgs {
      position: relative;
      background: {
        color: $light;
        size: cover;
        position: center;
      }



      img {
        width: 100%;
      }

      .details {
        padding: 15px 20px;
        display: flex;
        background-color: $light;
        font-size: 14px;
        position: absolute;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        bottom: 0;

        & > * {
          flex: 1 1 auto;
        }

        .date {
          text-align: left;
          color: $dark-grey1;
        }

        .comments {
          text-align: right;
          color: $dark-grey1;
        }
      }
    }

    .postDetails {
      padding: 25px;

      .postDetailsHeader {
        color: $dark-grey1;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        color: $dark-grey4;
        text-align: justify;
      }

    }
  }
  .icon {
    color: $dark-grey4;
    font-size: 16px;
  }
  .btn {
    position: relative;
    left:30%;
    text-align:center;
    background-color: $dark-grey1;
    color:  $very-bright-cyjan-blue;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 2px;
    transition: .2s;

    &:hover {
      border: none;
      cursor: pointer;
      box-shadow: 0px 0px 12px $dark-grey1;
      background-color: $primary-orange-brown;
    }

  }
}
