@import "../../../styles/settings.scss";

.root {
  background-color: $product-box-bg;
  margin-bottom: 2rem;
}

.brandsElement {
  margin: auto;
  justify-content: center;
}

.button {
  color: $light;
  background-color: $dark-grey1;
  font-size: 2rem;
  padding-bottom: 0;
  margin-top: 0;
  top: 5px;
  height: 100px;
}
