@import "../../../styles/settings.scss";

.root {
  margin: 20px 0;
  padding: 10px;

  .promotedBar {
    padding: 12px 8px;
    background-color: $dark-grey1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .promotedBarTitle {
    color: $light;
    margin: 0;
    font-size: 18px;
  }

  .dots {
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .dot {
    display: flex;

    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 0 4px;
      background-color: $light;

      &:hover {
        background-color: $primary-orange-brown;
      }
    }
  }

  &.active {
    span {
      background-color: $primary-orange-brown;
    }
  }

  .btns {
    display: flex;

    .btn {
      width: 50%;
      text-align: center;
      background-color: $medium-grey3;
      color: $bright-grey;
      font-size: 20px;

      &:hover {
        background-color: $primary-orange-brown;
      }
    }
  }

  .leftCol {
    display: block;
  }

  .rightCol {
    display: block;
  }
}

@media (max-width: 1200px) {
  .root {
    padding-left: 100px;
  }
}

@media (max-width: 991px) {
  .root {
    .dots {
      width: 100%;
      margin-top: 30px;
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .root {
    max-width: 100%;
    margin: 20px 0 0 20px;
    padding: 20px 0 0 20px;

    .leftCol {
      display: none;
    }

    .rightCol {
      padding: 0 0;
      margin: 0 0;
    }
  }
}
