@import "../../../styles/settings.scss";

.root {
  margin: 20px 0;
  padding: 10px;

  .promotedBar {
    padding: 12px 8px;
    background-color: $promoted-bar-background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .promotedBarTitle {
    color: $promoted-bar-title-color;
    margin: 0;
    font-size: 18px;
  }

  .dots {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5px;
    top: -10px;

    ul {
      margin: 0;
      padding: 0 0 0 1rem;
      list-style: none;
      transform: translateY(15px);
    }

    li {
      display: inline-block;
      margin-left: 0.5rem;
    }

    a {
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 6px;
      background-color: $new-furniture-dots;
      font-size: 0;

      &.active,
      &:hover {
        background-color: $new-furniture-dots-hover;
      }
    }
  }

  .btns {
    display: flex;

    .btn {
      width: 50%;
      text-align: center;
      background-color: $promoted-btn-background-color;
      color: $promoted-bar-title-color;
      font-size: 22px;
      padding: 7px;

      &:hover {
        background-color: $promoted-dot-background-color-hoover;
      }
    }
  }

  .promotedContainer {
    padding: 0px 0 40px 0;
    height: 100%;

    .promotedContent {
      height: 100%;
      max-height: 540px;
      position: relative;
      overflow: hidden;
    }
  }
}
