@import "../../../styles/settings.scss";

p,
h2,
h3 {
  text-align: center;
}

.imagePart {
  position: relative;

  .image {
    width: 100%;
    object-fit: cover;
    max-height: 400px;
  }
  .postAuthor,
  .postDate {
    position: absolute;
    background-color: white;
    margin: 0;
    padding: 5px 10px;
    width: 150px;
    font-size: 20px;
  }

  .postAuthor {
    top: 10px;
    left: 50px;
  }

  .postDate {
    top: 10px;
    right: 50px;
  }
}
