@import "../../../styles/settings.scss";

.root {
  .panelBar {
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $new-furniture-line;
    }

    .heading {
      position: relative;

      h3 {
        color: $new-furniture-header;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $new-furniture-line-elem;
      }
    }
  }

  .photo {
    display: flex;
    align-items: center;
    justify-content: center;

    .furniture {
      width: 100%;
      height: 330px;
      object-fit: cover;
    }
  }

  .rightColumn {
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .rightImage {
      padding: 10px 0;
    }
  }

  .miniGallery {
    width: 100%;
  }
}
