@import "../../../styles/settings.scss";

.root {
  border: 1px solid $search-border;
  display: inline-flex;
  height: 45px;
  color: $search-text;

  .category {
    display: none;
    border-right: 1px solid $search-border;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $search-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    .categoryList {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 10px 30px 10px 0;
      position: relative;
      list-style-type: none;
      z-index: 1;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    .topcategory {
      width: 100%;
      height: 100%;
      padding-left: 30px;
      display: block;

      ul {
        padding-left: 0;
      }

      a {
        color: $search-text;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .selected {
      position: relative;
      left: -30px;
      box-sizing: unset;
      padding: 3px 0 4px 60px;
      display: none;
      width: 100%;
      height: 100%;
      margin: 0 0;
      background-color: $search-product-category-bg;
    }

    &:hover {
      background-color: $search-product-category-bg;

      .icon {
        color: $search-product-category-active;
      }

      a:hover {
        color: $search-product-category-active;
      }

      .selected {
        display: block;
      }
    }

    li a {
      display: block;
      position: relative;
      text-decoration: none;
      color: $search-product-category;
    }

    .defaultOption {
      display: block;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $search-text;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

@media (min-width: 577px) {
  .root {
    .category {
      display: flex;
    }
  }
}
