@import "../../../styles/settings.scss";

.root {
  padding: 7rem 0 4rem 0;
}

@media (max-width: 494px) {
  .box {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    div {
      width: 100%;
    }
  }
}
