@import "../../../styles/settings.scss";

.root {
  position: relative;
  margin-top: 65px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, - 50%);
    padding: 60px 0 40px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color:rgba(0,0,0, 0.2);
    font-weight: 200;
    font-size: 18px;

    .title {
      font-weight: 300;
      font-size: 36px;

      strong {
        font-weight: 600;
      }
    }
  }

  .mainBtn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $bright-grey;
    color: $dark-grey1;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 4px;
    transition: .2s;

    &:hover {
      border: none;
      cursor: pointer;
      box-shadow: 0px 0px 12px $medium-grey3;
      background-color: $primary-orange-brown;
    }
  }

}
