@import "../../../styles/settings.scss";

.root {
  .panelBar {
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $new-furniture-line;
    }

    .heading {
      position: relative;

      h3 {
        color: $new-furniture-header;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $new-furniture-line-elem;
      }
    }

    .menu {
      text-align: center;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $new-furniture-menu;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $new-furniture-line-elem;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 10px;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $new-furniture-bg-dots;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $new-furniture-dots;
            font-size: 0;

            &.active,
            &:hover {
              background-color: $new-furniture-dots-hover;
            }
          }
        }
      }
    }
  }
}

.blogBox {
  display: flex;
  justify-content: space-between;
  background-color: $menu-bg;
}
